@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFBC8F, #E87E64);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #e83cb296;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D942FF;
    text-align: center;
    text-shadow: 1px 1px 3px #621e7496;
}

h2{
    color: #E83CB2;
}
p {
    text-align: justify;
}